<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Point d'interêt</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CDC</title>
<!--  <link rel="stylesheet" href="../../assets/css/style.css">-->
</head>
<body >

<nav class="navbar  is-dark p-4 " role="navigation" aria-label="main navigation">
  <div class="navbar-start ">
    <a href="index.html" class="navbar-item " id="searchLink">Rechercher une adresse</a>
    <a href="interet.html" class="navbar-item" id="interetLink">Point d'intérêt</a>
    <a href="interetgeo.html" class="navbar-item">Rechercher un point d'interêt</a>
  </div>
</nav>

<div class="container" id="point">
  <div class="vide"></div>




  <h1 class="title">Voici tous les points d'intérêt</h1>
  <span class="loader"></span>
  <div id="allpoint">

  </div>
</div>
<!--<script type="module" src="../interet.js"></script>-->
</body>
</html>
</body>
</html>